.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	
	img {
		width: 64px;
		height: 64px;
	}
}

.black {
	background-color: #837360;
}

.white {
	background-color: navajowhite;
}

.selected, .available {
	width: 64px;
	height: 64px;
}

.selected {
	background-color: brown;
}

.available {
	background-color: green;
}