.lost {
	width: 140px;
	height: 663px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: lightgray;
	
	div {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 2px;
		
		img {
			width: 36px;
			height: 36px;
		}
	}
}